{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Tutorial</title>
    <link rel="stylesheet" href="{% static 'python_training/PyTStyle.css' %}">
</head>
<body>
    <div class="main-div">
        <section class="sec1">
            <h1>Python Tutorial</h1>
        </section>
        <section class="sec2">
            <h4>What is python ? </h4>
            <p class="des">python is a popular programming language if was created
                    by Guido van Rossum and released in 1991</p>
        </section>
        <section class="sec3">
            <h4>Python Usage :</h4>
            <ul>
                <li>web development (server-side)</li>
                <li>software development</li>
                <li>mathematics</li>
                <li>system scripting</li>
            </ul>
        </section>


    </div>



</body>
</html>